@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-focused {
	outline: none !important;
}

.cm-line {
	line-height: 25px;
}

.cm-gutterElement {
	display: flex;
	align-items: center;
	justify-content: end;
}
